<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>File Upload</title>
</head>
<body>
<h2>Submitted File</h2>
<table>
    <tr>
        <td>OriginalFileName:</td>
        <td th:text="${file.originalFilename}"></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td th:text="${file.contentType}"></td>
    </tr>
</table>
</body>
</html>